<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="UWO, Western, Western University, University of Western Ontario,
	molecular dynamics, biophysics, biophysical, human disease, GROMACS, Carter, Carter Wilson, Carter James Wilson, wilsonjcarter, cemistry,
	biochemistry, computational chemistry, Mikko Karttunen, James Choy, Choy Lab"/>
  <meta name="description" content="We use computational techniques like molecular dynamics and protein modelling
		to study biophysical systems as they relate to human disease. University of Western Ontario (UWO)"/>
  <meta name="google-site-verification" content="mdOenPML4bb7Pi6v2VyF_XP_ixN0bDTjgebp0nybjbc" />
  <title>
    {%- if page.title -%}
      {{ page.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  {%-seo title=false-%}
  {%-feed_meta-%}

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
  {% include analytics.html %}
</head>
